.navbar {
    height: 60px;
	background: linear-gradient(170deg, #1bc059, #0d47a1);
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 10px 20px;
	position:relative
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.nav-link:hover {
  background-color: #0f0;
  border-radius: 5px;
}

nav {
    background: linear-gradient(170deg, #1bc059, #0d47a1);
    color: white;
    padding: 1em;
  }
  
  nav h2 {
    display: inline;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-left: 20px ;
    &:hover{color:#0f0};
  }
  
  nav ul {
    list-style: none;
    display: inline;
    margin-left: 2em;
    color: #fff;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1em;
  }
  